body{
    background-color: #76828f;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(images/bg-image.jpg);
    background-size: cover;
    margin: 0;
}

.container{ 
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #eaeaf2;
    align-items: center;
    
}

.box{
    background-color: #707072ae;
    margin: auto;
    text-align: center;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1{
   color: #ffffff;
   padding-top: 10px;
}

#input{
    display: flex;
    margin: 5%;
}

#input-field {
    width: 30rem;
    padding: 1%;
    margin: 0 2%;
    border-radius: 4px;
}

#input-field:hover{
    border: 1px solid orange;
}

#input-field:focus{
    border: 2px solid orange !important;
    outline: none;
}

#add{
    width: 3rem;
    height: 2.1rem;
    padding: 1%;
    background-color: rgb(11, 173, 173);
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container-tasks{
    padding: 4%;
}

.checkbox{
    transform: scale(1.5);
    margin-right: 0.5rem;
    height:0.9em;
    width:0.9em;
    cursor:pointer;
    border-radius:4em;
    margin-top: 1.4rem;
    accent-color: green;
}
.checkbox:checked +.discription{
    text-decoration:line-through white;
    color: rgb(25, 74, 25);


}


.task{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.todo-tasks{
    display: flex;
    justify-content: space-between;
}

.todo-tasks:hover{
    background-color: #9b9ea24d;
}

.features{
   display: flex;
   align-items: center;
}

img{
    padding: 0.5rem;
}

#remove-button{
    background-color: rgb(11, 173, 173);
    color: white;
    border: none;
    padding: 1rem;  
    border-radius: 20px;  
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 2rem;
}
li{
    list-style-type: none;
    display: flexbox;
}

.paragraph{
    padding: 4%;
    margin: 0 2%;
    border-radius: 4px;
    background-color: white;
    color: black;
}
.save{
    padding: 0.5rem;
    width: 18px;
}

.completed {
    color: rgba(192, 192, 192, 0.8);
    text-decoration: line-through;
  }
  
.todo-task:has(input:checked){
    display: none;
    background-color:black;
}
